*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.a
*.lib

/build/
bin/
debug/
release/

*.depend
*.layout
*.workspace
*.suo
*.user
*.ncb
*.opendb
*.VC.db
*.VC.opendb

Thumbs.db
.DS_Store

# Logs
*.log

*.db
*.sqlite
*.sqlite3

*~
*.bak
*.swp
*.tmp
