aaaa ICON "wx/msw/std.ico"

#define wxUSE_NO_MANIFEST         0
#define wxUSE_DPI_AWARE_MANIFEST  2

ID_ICOCLIENT RCDATA "resources\\icons\\client.png"
ID_ICOORDERS RCDATA "resources\\icons\\orders.png"

#include "wx/msw/wx.rc"
