<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="TransactionEditDialog">
		<title>Edit Transaction</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="MainBoxSizer" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="CurrencyBoxSizer" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_CURRENCYLABEL" variable="CurrencyLabel" member="yes">
							<label>Valor</label>
							<size>46,16</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="RadioDeposits" member="yes">
							<label>Deposit</label>
							<selected>1</selected>
							<size>72,20</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxSHAPED</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="RadioCosts" member="yes">
							<label>Despesa</label>
							<size>65,20</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxSHAPED</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_CURRENCYCTRL" variable="CurrencyCtrl" member="yes">
							<handler function="OnCurrencyCtrlChange" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="DateTimeBoxSizer" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_DATETIMELABEL" variable="DateTimeLabel" member="yes">
							<label>Date and Time</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="DateTimeFieldBoxSizer" member="no">
							<object class="sizeritem">
								<object class="wxDatePickerCtrl" name="ID_DATEPICKERCTRL" variable="DatePickerCtrl" member="yes">
									<style>wxDP_DEFAULT|wxDP_DROPDOWN|wxDP_SHOWCENTURY</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTimePickerCtrl" name="ID_TIMEPICKERCTRL" variable="TimePickerCtrl" member="yes" />
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="DescriptionVBoxSizer" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_DESCRIPTIONLABEL" variable="DescriptionLabel" member="yes">
							<label>Description</label>
							<size>52,17</size>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxSHAPED</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_DESCRIPTIONFIELD" variable="DescriptionField" member="yes">
							<maxlength>255</maxlength>
							<size>359,30</size>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="DialogControlBoxSizer" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_CANCELBUTTON" variable="CancelButton" member="yes">
							<label>Cancelar</label>
							<handler function="OnCancelButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_SAVEBUTTON" variable="SaveButton" member="yes">
							<label>Salvar</label>
							<handler function="OnSaveButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
